/* badge */
// https://www.w3.org/TR/wai-aria-1.0/roles#status
// Inspired by _alert.scss and aligned with _button.scss color variables

small[role="status"] {
  display: inline-block;
  min-width: 1.5rem;
  margin: 0 0.125rem;
  padding: 0 0.5rem;
  border-radius: 9999px; /* pill */
  background-color: var(--pico-blockquote-border-color);
  color: var(--pico-code-color);
  line-height: 1.5rem;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;

  &.info {
    background-color: var(--pico-primary);
    color: var(--pico-primary-inverse, #fff);
  }

  &.success {
    background-color: var(--pivot-success);
    color: var(--pico-primary-inverse, #fff);
  }

  &.warning {
    background-color: var(--pivot-warning);
    color: var(--pico-primary-inverse, #fff);
  }

  &.danger {
    background-color: var(--pivot-danger);
    color: var(--pico-primary-inverse, #fff);
  }
}
