/* from left animation */
@keyframes from-left {
  from {
    position: relative;
    left: -100px;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  to {
    position: relative;
    left: 0px;
  }
}

.from-left {
  animation: 400ms from-left;
  animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
}
